.nunito-normal {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary-color: #ffa500;
}

body {
  font-family: Nunito;
}

.primary-bg {
  background: var(--primary-color);
}
.primary-content {
  color: var(--primary-color);
}

.hero {
  background: rgba(255, 166, 0, 0.153);
  background-image: url("../images/symbol-scatter-haikei.svg");
  background-size: cover;
}

.btn {
  background-color: #ffa500;
  font-weight: bold;
  color: white;
  padding: 8px 12px;
  border-radius: 0.4rem;
}

h2 {
  font-weight: bold;
  color: #ffa500;
  font-size: 3rem;
}

.card-title {
  font-weight: bold;
  font-size: 1.5rem;
}
